@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans&family=PT+Sans&family=Roboto&display=swap");
@import "tailwindcss";


@theme {
--color-primary: #0f172a;
--font-roboto: "Roboto", sans-serif;
  };


.br-2.animado {
  opacity: 0;
}

.br-1.animado {
  transform: rotate(45deg) translate(9px, 8px);
  transform-origin: 0% 100%;
}

.br-3.animado {
  transform: rotate(-45deg) translate(-6px, 8px);
  transform-origin: 0% 100%;
}









